.loading-animation .spinner > div {
  background-color: #7000c0 !important;
}

.podcast-player {
  color: #000;
}
.podcast-player button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
.podcast-player button.play-button {
  border: none;
  color: #7000c0;
  height: 60px;
  margin: 0;
  padding: 0;
  width: 60px;
}
.podcast-player button.play-button .play-button-paused {
  display: none;
}
.podcast-player button.play-button:before {
  display: none;
}
.podcast-player.playing button.play-button .play-button-playing {
  display: none;
}
.podcast-player.playing button.play-button .play-button-paused {
  display: block;
}
.podcast-player .play-button-playing #Group-7,
.podcast-player .play-button-playing #Rectangle-6,
.podcast-player .play-button-paused #Group-7,
.podcast-player .play-button-paused #Rectangle-6 {
  transition: transform 0.2s;
}
.podcast-player .play-button-playing #Group-7,
.podcast-player .play-button-paused #Group-7 {
  transform: translate(21.5px, 18px) scale(1);
}
.podcast-player .play-button-playing:hover #Group-7,
.podcast-player .play-button-paused:hover #Group-7 {
  transform: translate(19.5px, 16px) scale(1.2);
}
.podcast-player .play-button-playing:hover #Rectangle-6,
.podcast-player .play-button-paused:hover #Rectangle-6 {
  transform: translate(-6px, -6px) scale(1.2);
}
.podcast-player .progress-bar {
  display: inline-block;
  left: 20px;
  /* position: relative; */
  top: -12px;
  width: calc(100% - 84px);
  padding-left: 10px;
}

.podcast-player .progress-bar .progress-bar-rail {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  min-height: 6px;
  height: 6px;
  position: relative;
}
.podcast-player .progress-bar .progress-bar-rail:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.podcast-player.playing .progress-bar .progress-bar-time-played {
  display: block;
}
.podcast-player .progress-bar-played,
.podcast-player .progress-bar-loaded {
  background-color: #7000c0;
  border-radius: 10px;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
.podcast-player .progress-bar-played:after {
  background-color: #7000c0;
  border-radius: 50px;
  content: "";
  height: 16px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
}
.podcast-player .progress-bar-rail:active .progress-bar-played:after {
  height: 12px;
  right: -4px;
  top: -4px;
  width: 12px;
}
.podcast-player .progress-bar-loaded {
  background-color: rgba(0, 0, 0, 0.3);
}
.podcast-player .progress-bar-buffering {
  background-color: #7000c054;
}
.podcast-player .progress-bar-buffering:after {
  animation: move 2s linear infinite;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.podcast-player .main-player {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
  grid-template-columns: 70px 1fr;
  -ms-grid-rows: 70px 23px;
  grid-template-rows: 70px 23px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.podcast-player .main-player .controls {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}
.podcast-player .main-player .controls-advanced {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.podcast-player .main-player .controls-advanced button {
  font-size: 20px;
}

.podcast-player .progress-bar {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  top: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 74px;
  grid-template-columns: 1fr 74px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: calc(100% -20px);
}
.podcast-player .progress-bar .progress-bar-rail {
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}
.podcast-player .progress-bar .progress-bar-time-played {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  top: 0;
}
@media (max-width: 424px) {
  .podcast-player .progress-bar {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .podcast-player .progress-bar .progress-bar-time-played {
    display: none;
  }
}
